@import '../../shared.scss';

button {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 2em;
  outline: none;
  min-width: 100px;
  min-height: 75px;
}

button:hover {
  background: rgba(0, 0, 0, 0.3) !important;
}

button:active {
  color: $green;
  background: rgba(0, 0, 0, 1) !important;
}
