@import '../../shared.scss';

hr {
  border: none;
  border-top: 1px solid $white;
  opacity: 0.3;
  width: 100%;
}

#Calculator {
  background: $blue;
  border: 1px solid $white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  font-family: $monospace;
  padding: 10px;
}

#header {
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;

  padding: 5px;
  width: 100%;
  min-height: 40px;
}

#history {
  font-size: 1.5em;
  max-width: 380px;
  min-height: 20px;
}

#display {
  font-size: 3em;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
  "clear clear clear divide"
  "seven eight nine multiply"
  "four five six subtract"
  "one two three add"
  "zero zero decimal equals";
}
